__pycache__
build
k8s

*.json
*.rdb
*.log
*.txt
!requirements.txt
*.in

Dockerfile
.dockerignore
.github
.flake8
.isort.cfg
.pre-commit-config.yaml
.travis.yml
.mypy_cache
LICENSE
mypy.ini
pyproject.toml
README.md
