__pycache__
.dockerignore
Dockerfile
build

*.json
*.rdb
*.log
*.txt
!requirements.txt
*.in

.github
.flake8
.isort.cfg
.pre-commit-config.yaml
.travis.yml
.mypy_cache
LICENSE
mypy.ini
pyproject.toml
README.md
