git+https://github.com/Rapptz/discord.py@4de01212a49e3957319e769622bc8f2da10494bb#egg=discord.py[voice]
git+https://github.com/Fogapod/aiogoogletrans
gTTS
lxml
arsenic
emoji-data-python
Pillow
aioredis
psutil
sentry_sdk
asyncpg
uvloop
python-dateutil
