git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]
git+https://github.com/Fogapod/aiogoogletrans
gTTS
arsenic
emoji-data-python
Pillow
aioredis
psutil
sentry_sdk
asyncpg
uvloop
python-dateutil
